.table-row-btn {
    height: 18px;
    font-size: 11px;
    line-height: 0.7;
}

body{
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px !important;
}
tr.table-tr {
    line-height: 0.4;
}
.error.label.label-danger{
    color: red;
}

.loading{
    background: url(http://www.broadwaybalancesamerica.com/images/ajax-loader.gif) no-repeat center center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 1000;
    display:none;
}
td.padding7px {
    padding: 7px !important;
}

kbd.active{
    background-color: #4cae4c !important;
}
kbd.inactive{
    background-color: #337ab7 !important;
}

/************************** S H R I K A A N T *******************************/
.br-rad-tp-r-0{ border-top-right-radius: 0px !important;}
.br-rad-tp-l-0{ border-top-left-radius: 0px !important;}
.br-rad-b-l-0 { border-bottom-left-radius: 0px !important;}
.br-rad-b-r-0 { border-bottom-right-radius: 0px !important;}
thead{
    font-weight: 600;
}
.modal{
    background: rgba(33, 32, 32, 0.72);
}
.modal-header{
    margin: 0px 20px 0px 20px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: block;
}
.modal-body{
    margin: 0px 5px 0px 5px;
    font-size:13px !important;
}
.modal-body button, .modal-body input[type=button], .modal-body input[type=reset], .modal-body input[type=submit] {
    width:70px !important;
}


.modal-body .btn {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 3px !important;
    font-size: 13px;
}
.modal-body .btn-outline-info:hover {
    color:white;
}
.modal-body label{
    font-weight: 600;
}
.modal-dialog{
    margin-top: 60px;
}
.modal-content{
    border-radius: 3px !important;
}

ul.pagination li.page-item{
    font-size: 12px;
    font-family: 'roboto',sans-serif;
}

/******* Filter Buttons *******/
.filter_buttons {
    margin:0px 2px 2px 2px;
    float:right;
}
.mt5{
    margin-top: 5px;
}
.badge-sky-blue {
    color: #fff;
    background-color: #059598;
}
.valign-middle{
    margin: auto 0px;
}
fieldset legend{
    border-bottom: 1px solid #cacaca !important;
}
form label{
    font-weight: 600;
}
.form-control, .btn{
    font-size: 13px !important;
}
button.input-group-text{
    font-size: 13px !important;
}


/***************** UPLOAD IMAGE ************************/
.profile_picture {
    /*border: 1px solid #059598;*/
   /* height: 185px;
    width: 182px;*/
    margin: 0px auto;
}
.choose_file {
    position: relative;
    display: inline-block;
    font-size:13px !important;
    font-family: 'roboto',sans-serif;

    border-radius: 3px;
    cursor: pointer;
    margin-top: 16px !important;
}
.choose_file input[type="file"]{
    -webkit-appearance:none;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
    color: #ffffff !important;
}
img#blah{
    min-height:185px;
    min-width: 182px;
    max-height: 185px;
    margin: 0px auto;
}
/* set menu font-size */
a.dropdown-item {
    font-size: 13px;
}

/***** 29 - Dec - 2019 ******/
.table th, .table td {
    padding-bottom: 0.25rem !important;
    line-height: 1.5 !important;
}
span.fa .fa-edit:hover{
    cursor: pointer;
}

/*** chosen-container-multi ***/
div .chosen-container-multi {
    width: 215px !important;
}
/**** G E N E R A L  M A S T E R  L I S T E N I N G  F O N T - S I Z E  ****/
table.table.sort-table.table-hover.text-center {
    font-size: 12px !important;
}

/****** F O R M  S E T T I N G ******/
div.form_setting{
    padding: 0.20rem !important;
}
button#editButton {
    margin: 0px -5px 0px 0px;
}
.mt-15px {
    margin-top: 15px;
}
.cursor-pointer {
    cursor: pointer;
}
a{
    color: #000000 !Important;
}
/********** sky blue themeing cooring sys *****/
.border-sky-blue {
    border-radius: 3px !important;
    border: 0.5px solid #059598 !important;
    color: #212529 !important;
}
.btn-sky-blue{
    background-color: #059598 !important;
    color:#ffffff !important;
    border-radius: 3px !important;
    border: 1px solid #059598 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-sky-blue-rev {
    font-weight: 400 !important;
    color: #059598 !important;
    text-decoration: none !important;
}
.btn-outline-sky-blue{
    background-color: #ffffff !important;
    color:#059598 !important;
    border-radius: 3px !important;
    border: 1px solid #059598 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-sky-blue:hover{
    background-color: #059598d6 !important;
    color:#ffffff !important;
    border: 1px solid #059598d6 !important;
}
.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(52, 144, 220, 0.25) !important;
}
.modal-body .btn:focus{
    box-shadow: 0 0 0 0.1rem rgba(52, 144, 220, 0.25) !important;
}

.page-item.active .page-link{
    background-color: #059598 !important;
    border-color: #059598 !important;
    color:#ffffff !important;
}
.page-link{
    color: #059598 !important;
    padding: 0.3rem 0.75rem;
}
div.no_of_record span {
    margin-right: 10px;
    /*background: #059598 none repeat scroll 0% 0%;*/
    padding: 5px 5px;
    color: white;
    border-radius: 3px;
    font-size: 13px;
    font-family: 'roboto',sans-serif;
}
.text-greenish {
    color:#059598 !important;
}
.bg-greenish {
    background: #059598 !important;
}
.badge-sky-blue {
    color: #fff;
    background-color: #059598;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }



.ui-autocomplete{
    z-index: 11111111 !important;
}
